<div class="register-box">
  <div class="register-logo">
    <a href="../../index2.html"><b>Admin</b>LTE</a>
  </div>

  <div class="register-box-body">
    <p class="login-box-msg">Register a new membership</p>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-group has-feedback">
        <input class="form-control" placeholder="First name" formControlName="firstName" name="firstName" type="text" required>
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
          <div *ngIf="f.firstName.errors.required" style="color:red;">Username is required</div>
        </div>
      </div>
      <div class="form-group has-feedback">
        <input class="form-control" placeholder="Last name" formControlName="lastName" name="lastName" type="text" required>
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
          <div *ngIf="f.lastName.errors.required" style="color:red;">Lastname is required</div>
        </div>
      </div>
      <div class="form-group has-feedback">
        <input class="form-control" placeholder="Email"  formControlName="email" name="email" type="email" required>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors" style="color:red;">Email is required</div>
        </div>
      </div>
      <div class="form-group has-feedback">
        <input class="form-control" placeholder="Password" formControlName="password" name="psw" type="password" required>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required" style="color:red;">Password is required</div>
          <div *ngIf="f.password.errors.minlength" style="color:red;">Password must be at least 6 characters</div>
        </div>
      </div>
      <div class="form-group has-feedback">
        <input class="form-control" placeholder="Retype password" type="password" required>
        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input type="checkbox"> I agree to the <a href="#">terms</a>
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button class="btn btn-primary btn-block btn-flat" type="submit" >Register</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <div class="social-auth-links text-center">
      <p>- OR -</p>
      <a class="btn btn-block btn-social btn-facebook btn-flat" href="#"><i class="fa fa-facebook"></i> Register using
        Facebook</a>
      <a class="btn btn-block btn-social btn-google btn-flat" (click)="RegisterWithGmail()"><i class="fa fa-google-plus"></i> Register using
        Google+</a>
    </div>

    <a [routerLink]="'/auth/login/'" class="text-center">I already have a membership</a>
  </div>
  <!-- /.form-box -->
</div>
<!-- /.register-box -->
