<div class="login-box">
  <div class="login-logo">
    <a href="#"><b>Smart</b> Irrigation</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>

      <form [formGroup]="LoginForm" (ngSubmit)="onSubmit()">
      <div class="form-group has-feedback">
        <input class="form-control" placeholder="Email" required="true" formControlName="email" name="email" type="email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required" style="color:red;">Email is required</div>
        </div>
      </div>
      <div class="form-group has-feedback">
        <input class="form-control" placeholder="Password" formControlName="pwd" name="pwd"type="password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        <div *ngIf="submitted && f.pwd.errors" class="invalid-feedback">
          <div *ngIf="f.pwd.errors.required" style="color:red;">Password is required</div>
          <div *ngIf="f.pwd.errors.minlength" style="color:red;">Password must be at least 6 characters</div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input type="checkbox"> Remember Me
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
        </div>
        <!-- /.col -->
      </div>
      </form>

    <div class="social-auth-links text-center">
      <p>- OR -</p>
      <a class="btn btn-block btn-social btn-facebook btn-flat" (click)="ConnectWithFacebook()"><i class="fa fa-facebook"></i> Sign in using
        Facebook</a>
      <a class="btn btn-block btn-social btn-google btn-flat" (click)="ConnectWithGmail()"><i class="fa fa-google-plus"></i> Sign in using
        Google+</a>
    </div>
    <!-- /.social-auth-links -->

    <a href="#">I forgot my password</a><br>
    <a [routerLink]="'/auth/register'" class="text-center">Register a new membership</a>

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
