<section class="content-header">
  <h1>
    {{CurrentLocation.SiteName}}
    <small>you can Configure you Relay</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
  </ol>
</section>

<section class="content">

  <div class="box">

    <div class="box-header with-border">
      <h3 class="box-title">Weither in the next 6 days</h3>

      <div class="box-tools pull-right">
        <button class="btn btn-box-tool" data-toggle="tooltip" data-widget="collapse" title="Collapse"
                type="button">
          <i class="fa fa-minus"></i></button>
        <button class="btn btn-box-tool" data-toggle="tooltip" data-widget="remove" title="Remove" type="button">
          <i class="fa fa-times"></i></button>
      </div>
    </div>
    <div class="box-body">
      <div *ngIf="allWeitherData; else elseBlock">
        <ul class="weither">
          <div *ngFor="let day of allWeitherData">
            <li class="classli weather"  >

              {{day.dayOfMonth}}<br>
              <table id="webwid" class="widget new27" style="font-family: Roboto; color: #868686; background-color: #FFFFFF; border: 1px solid #D6D6D6;">
                <tbody>
                <tr>
                  <td>
                      <table style="border: 1px solid #FFFFFF;">
                        <ng-container *ngFor="let hour of day.values">
                            <tr style="background-color: #FFFFFF;">
                              <td style="color: #868686; background-color: #FFFFFF; text-align:left ; padding: 5px">{{hour.dt*1000 | date: 'hh:mm'}}</td>
                              <td style="background-color: #FFFFFF; text-align:left; padding: 5px">
                                <span class="TgMax" style="color: #EB1924; text-align:left">{{hour.main.temp_max | number : '1.0-2'}}°</span>
                              </td>
                              <td style="background-color: #FFFFFF; text-align:left; padding: 5px">
                                <span class="TgMin" style="color: #0076BA; text-align:left">{{hour.main.temp_min | number : '1.0-2'}}°</span>
                              </td>
                              <td class="simb" style="background-color: #FFFFFF; text-align:left ; padding: 5px">
                                <img *ngIf="hour.weather[0].main === 'Rain' " src="https://www.dovora.com/resources/weather-icons/showcase/modern_showcase/rain.png" style="width:40px;height:40px;" alt="Overcast with light rain" class="pull-left">
                                <img *ngIf="hour.weather[0].main === 'Clouds' " src="https://www.dovora.com/resources/weather-icons/showcase/modern_showcase/overcast.png" style="width:40px;height:40px;" alt="Overcast with light rain" class="pull-left">
                                <img *ngIf="hour.weather[0].main === 'Clear' " src="https://www.dovora.com/resources/weather-icons/showcase/modern_showcase/day_clear.png" style="width:40px;height:40px;" alt="Overcast with light rain" class="pull-left">
                              </td>
                            </tr>
                        </ng-container>
                      </table>
                      </tbody>
                    </table>
            </li>
          </div>
        </ul>

      </div>
    </div>
    <ng-template #elseBlock>Waiting for weither data <i class="fa fa-refresh fa-spin"></i></ng-template>

    <!-- /.box-body -->
    <div class="box-footer">
      Footer
    </div>
  </div>

  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">Configure Irrigation {{CurrentLocation.SiteName}}</h3>

      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>

      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">

        <table class="table fa-border">
          <thead>
          <tr>
            <th>Mode</th>
            <th>Device Id(Sensor)</th>
            <th>Description</th>
            <th>Status</th>
            <th>Start Date</th>
            <th>T Max</th>
            <th>T Min</th>
            <th>Add Alert</th>
            <th>Choose Relay</th>
          </tr>
          </thead>
          <tbody>
          <tr> <!--- *ngFor="let sensor of Sensors; index as i">--->
            <td style="width: 10%">
              <select class="form-control" #Mode>
                <option value="Manuel">Manuel</option>
                <option value="Auto">Auto + AI</option>
              </select>
            </td>
            <td>{{Sensors[0].Name}}</td>
            <td>{{Sensors[0].Description}}</td>
            <td>Off</td>
            <td style="width: 25%">
              <div class="input-group"><span class="input-group-addon">start :</span>
                <angular2-date-picker [(ngModel)]="date[0]" [settings]="settings"></angular2-date-picker>
              </div>
            </td>
            <td style="width: 8%">
              <div class="rcorners1">
                <input type="text" class="form-control" placeholder="80" #TMax>
              </div>
            </td>
            <td style="width: 8%">
              <input type="text" class="form-control" placeholder="20" #TMin>
            </td>
            <td style="width: 20%">
              <!----<button class="btn btn-block btn-primary" (click)="updateIrrigation()">Choose Alert</button>---->
              <ng-multiselect-dropdown
                [placeholder]="'Choose Notification'"
                [data]="dropdownList"
                [settings]="dropdownSettings"
                (onSelect)="onNotifSelect($event , Sensors[0])"
                (onDeSelect)="onNotifSelect($event , Sensors[0])"
                (onSelectAll)="onNotifAll($event , Sensors[0])"
                (onDeSelectAll)="onNotifAll($event , Sensors[0])"
              >
              </ng-multiselect-dropdown>
            </td>
            <td style="width: 20%">
              <!----<button class="btn btn-block btn-primary" (click)="updateIrrigation()">Choose Alert</button>---->
              <ng-multiselect-dropdown
                [placeholder]="'Choose Relay'"
                [data]="RelaydropdownList"
                [settings]="RelaydropdownSettings"
                (onSelect)="onRelaySelect($event , Sensors[0])"
                (onSelectAll)="onSelectAll($event)"
              >
              </ng-multiselect-dropdown>
            </td>
            <td>
              <a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat " (click)="SaveIrrigation(Sensors[0] , date[0] , Mode.value , TMax.value , TMin.value )">save</a>
            </td>

          </tr>
          </tbody>
        </table>

      <!-- /.table-responsive -->
    </div>
    <!-- /.box-body -->
    <div class="box-footer clearfix">
      <a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left" (click)="StartIrrigation()">Start Irrigation</a>&nbsp;&nbsp;&nbsp;<a href="javascript:void(0)" class="btn btn-sm btn-danger btn-flat ">Stop Irrigation</a>
    </div>
    <!-- /.box-footer -->
  </div>

  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">Relays</h3>
    </div>
    <div class="box-body">
      <div class="overlay" *ngIf="!Loaded">
        <i class="fa fa-refresh fa-spin"></i>

      </div>
      <!---<div *ngFor="let chart of ChartTab;index as i;" style="width: 50%">--->
        {{ ChartTab[0].SensorName }}
        <canvas baseChart style="width: 45%;"
                [datasets]="ChartTab[0].SensorData"
                [labels]="ChartTab[0].SensorLabel"
                [options]="BarChartOptions"
                [legend]="BarChartLegend"
                [chartType]="BarChartType"
      ></canvas><!-----</div>---->





    </div>

  </div>
</section>
