<div class="topnav">
  <a class="active pull-left" [routerLink]="['/dashboard']" >Dashboard</a>

  <a [routerLink]="['/auth/register']" class="pull-right">Register</a>
  <a [routerLink]="['/auth/login']" class="pull-right">Login</a>
  <a href="#about" class="pull-right">Product</a>
</div>
<header>

  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://static.videezy.com/system/resources/previews/000/036/253/original/Leaf_rain4.mp4" type="video/mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-3">Smart Irrigation</h1>
      </div>
    </div>
  </div>
</header>

<section class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <p>The HTML5 video element uses an mp4 video as a source. Change the source video to add in your own background! The header text is vertically centered using flex utilities that are build into Bootstrap 4.</p>
        <p>The overlay color can be changed by changing the <code>background-color</code> of the <code>.overlay</code> class in the CSS.</p>
        <p>Set the mobile fallback image in the CSS by changing the background image of the header element within the media query at the bottom of the CSS snippet.</p>
        <p class="mb-0">
          Created by <a href="https://startbootstrap.com">Start Bootstrap</a>
        </p>
      </div>
    </div>
  </div>
</section>
<a  [routerLink]="['/dashboard']"><i class="fa fa-circle-o"></i> dashboard</a>
<a  [routerLink]="['/auth/login']"><i class="fa fa-circle-o"></i> login</a>
<a  [routerLink]="['/auth/register']"><i class="fa fa-circle-o"></i>register</a>
