<section class="content-header">
  <h1>
    Dashboard
    <small>it's All Here</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Location</span>
          <div *ngIf="!Loaded">Searching in progress <i class="fa fa-refresh fa-spin"></i></div>
          <span class="info-box-number" *ngIf="Loaded">{{ CurrentLocation.SiteName }}</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-red"><i class="fa fa-google-plus"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Number of Locations</span>
          <span class="info-box-number">{{ CurrentUser.locationIds.length }}<small> Locations</small></span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->

    <!-- fix for small devices only -->
    <div class="clearfix visible-sm-block"></div>

    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-green"><i class="ion ion-ios-cart-outline"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Relays</span>
          <div *ngIf="!Loaded">Searching in progress <i class="fa fa-refresh fa-spin"></i></div>
          <span class="info-box-number" *ngIf="Loaded">{{ Relays.length.toString() }} Relay</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">New Members</span>
          <span class="info-box-number">2,000</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
  </div>







  <div class="row">
    <div *ngFor="let item of weitherWidget ; let i=index">
      <div *ngIf="i<4">
          <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box bg-aqua-active">
          <span class="info-box-icon ">
            <span class="info-box-icon ">
            <img *ngIf="item.weither === 'Rain' " src="https://www.dovora.com/resources/weather-icons/showcase/modern_showcase/rain.png" style="width:40px;height:40px;" alt="Overcast with light rain" >
            <img *ngIf="item.weither === 'Clouds' " src="https://www.dovora.com/resources/weather-icons/showcase/modern_showcase/overcast.png" style="width:40px;height:40px;" alt="Overcast with light rain" >
            <img *ngIf="item.weither === 'Clear' " src="https://www.dovora.com/resources/weather-icons/showcase/modern_showcase/day_clear.png" style="width:40px;height:40px;" alt="Overcast with light rain">
          </span>
          </span>

            <div class="info-box-content">
              <span class="info-box-WeitherWidget">Temp : {{item.maxTemp}} °C</span>
              <span class="info-box-WeitherWidget">humidity : {{item.humidity}}%</span>
              <span class="info-box-WeitherWidget">precipitation : {{item.precipitation/100}} mm</span>
              <span class="info-box-WeitherWidget">UV : {{item.uv}}</span>


              <div class="progress">
                <div class="progress-bar" style="width: 100%"></div>
              </div>
              <span class="progress-description">
                    {{item.date}}
          </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
      </div>
    </div>
  </div>


  <div class="callout callout-info">
    <h4>Schedule irrigation!</h4>

    <p>You can controle when to irrigate your land based on our AI or you can Schedule it yourself </p><a href="javascript:void(0)" [routerLink]="['RelayConfig']" (click)="PassRelayData()" class="btn btn-sm btn-danger btn-flat " style="text-decoration:none">Schedule Irrigation</a>
  </div>





  <div class="row">

    <div *ngFor="let chart of ChartTab;index as i;">

      <!-- Left col -->
      <section class="col-lg-6">

        <!-- Custom tabs (Charts with tabs)-->
        <div class="nav-tabs-custom">
          <div class="overlay" *ngIf="!Loaded">
            <i class="fa fa-refresh fa-spin"></i>
          </div>
          <!-- Tabs within a box -->
          <ul class="nav nav-tabs pull-right ui-sortable-handle">

            <li class="pull-left header"><i class="fa fa-inbox"></i>{{i+1}} : {{ chart.SensorName }}</li>
            <li class="pull-right header">
              <a class="btn btn-app" id="rcorners1" [routerLink]="['Historique']" (click)="passHistoryData(chart)">
                <i class="fa fa-book" ></i>History
              </a>
            </li>
          </ul>


          <canvas baseChart
                  [datasets]="chart.SensorData"
                  [labels]="chart.SensorLabel"
                  [options]="BarChartOptions"
                  [legend]="BarChartLegend"
                  [chartType]="BarChartType"
          ></canvas>
          <div class="progress-card">
            <div class="box-footer text-black">
              <div class="row">
                <div class="col-sm-6">
                  <!-- Progress bars -->
                  <div class="clearfix">
                    <span class="pull-left"><p class="text-muted">Battery : {{chart.SensorBattery}}%</p></span>
                  </div>
                  <div class="progress xs">
                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width.%':chart.SensorBattery}" ></div>
                  </div>

                  <div class="clearfix">

                    <span class="pull-left"><p class="text-muted">Last Reading :</p></span>
                  </div>
                  <div >
                    <h4
                    >{{chart.SensorLastRead}}</h4>
                  </div>
                </div>
                <!-- /.col -->
                <div class="col-sm-6">
                  <div class="clearfix">
                    <span class="pull-left">Task #3</span>
                    <small class="pull-right">60%</small>
                  </div>
                  <div class="progress xs">
                    <div class="progress-bar progress-bar-green" style="width: 60%;"></div>
                  </div>

                  <div class="clearfix">
                    <span class="pull-left">Task #4</span>
                    <small class="pull-right">40%</small>
                  </div>
                  <div class="progress xs">
                    <div class="progress-bar progress-bar-green" style="width: 40%;"></div>
                  </div>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
          </div>



        </div>
        <!-- /.nav-tabs-custom -->
      </section>

    </div>
  </div>



  <!-- Default box
  <div class="box">

    <div class="box-header with-border">
      <h3 class="box-title">Weither in the next 5 days</h3>

      <div class="box-tools pull-right">
        <button class="btn btn-box-tool" data-toggle="tooltip" data-widget="collapse" title="Collapse"
                type="button">
          <i class="fa fa-minus"></i></button>
        <button class="btn btn-box-tool" data-toggle="tooltip" data-widget="remove" title="Remove" type="button">
          <i class="fa fa-times"></i></button>
      </div>
    </div>
    <div class="box-body">
      {{ CurrentUser.LastName }} ,Welcome to your amazing application!<br>
      <div *ngIf="weitherLoaded; else elseBlock">
        Location : {{LocationName}}
        <ul class="weither">
          <div *ngFor="let item of weitherData1">
          <li class="classli weather"  >

            {{item.time}}<br>
            <table id="webwid" class="widget new27" style="font-family: Roboto; color: #868686; background-color: #FFFFFF; border: 0px solid #D6D6D6;">
              <tbody>
              <tr>
                <td>

                  <span class="slink">Weather {{LocationName}}</span>
                  <table class="fondo" style="background-color: #FFFFFF; font-family: Roboto; color: #868686; border: 0px solid #D6D6D6;">
                  <tbody>
                  <tr class="hijo-1" style="background-color: #FFFFFF;">
                    <td class="bTempG" style="background-color: #FFFFFF;">
                      <span class="TgMax" style="color: #EB1924;text-align:right">{{item.data[0].temp_max}}°</span>&nbsp;&nbsp;
                      <span class="TgMin" style="color: #0076BA;text-align:right">{{item.data[0].temp_min}}°</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <img src="https://www.theweather.com/css/images/widget/g14/new/big-13.png" alt="Overcast with thunderstorms">
                    </td>
                    <td class="iconG" style="background-color: #FFFFFF;">
                  </td>
                  </tr>
                  <table style="border: 1px solid #FFFFFF;">

                  <ng-container *ngFor="let item1 of item.data">

                    <tr style="background-color: #FFFFFF;">

                      <td>&nbsp;</td>
                        <td style="color: #868686; background-color: #FFFFFF; text-align:left ; padding: 5px">{{item1.time}}:00 </td>
                      <td style="background-color: #FFFFFF; text-align:left; padding: 5px">
                        <span class="TgMax" style="color: #EB1924; text-align:left">{{item1.temp_max | number : '1.0-2'}}°</span>
                      </td>
                      <td style="background-color: #FFFFFF; text-align:left; padding: 5px">
                        <span class="TgMin" style="color: #0076BA; text-align:left">{{item1.temp_min | number : '1.0-2'}}°</span>
                      </td>
                        <td class="simb" style="background-color: #FFFFFF; text-align:left ; padding: 5px">
                          <img src="https://www.theweather.com/css/images/widget/g14/new/small-7.png" alt="Overcast with light rain">
                        </td>
                     </tr>

                  </ng-container>
                  </table>
                  </tbody>
                </table>
                </td>
              </tr>
              </tbody>
            </table>
          </li>
          </div>
        </ul>

      </div>
      </div>
      <ng-template #elseBlock>Waiting for weither data <i class="fa fa-refresh fa-spin"></i></ng-template>


    <div class="box-footer">
      Footer
    </div>
  </div>
  -->

  <div class="box">

    <div class="box-header with-border">
      <h3 class="box-title ">
        <div *ngIf="checked ; else elseBlock1" >Automatic Irrigation {{LocationName}}</div>
        <ng-template #elseBlock1>Manual Irrigation {{LocationName}} <div *ngIf="!Loaded">Loading... <i class="fa fa-refresh fa-spin"></i></div></ng-template>

      </h3>

      <div class="box-tools pull-right">
        <!---<label class="switch">
          <input type="checkbox" [(ngModel)]="checked" (change)="AutoFunction()" data-toggle="tooltip">
          <span class="slider round"></span>
        </label>---->
        <button class="btn btn-box-tool" data-toggle="tooltip" data-widget="collapse" title="Collapse"
                type="button">
          <i class="fa fa-minus"></i></button>
        <button class="btn btn-box-tool" data-toggle="tooltip" data-widget="remove" title="Remove" type="button">
          <i class="fa fa-times"></i></button>
      </div>
    </div>
    <div class="box-body">
      <table class="table">
        <tbody><tr>
          <th style="width: 5%">#</th>
          <th style="width: 10%">Relay name :</th>
          <th style="width: 20%">Relay Description :</th>
          <th style="width: 15%">Relay State :</th>
          <th style="width: 15%">Coordinance</th>
          <th style="width: 15%">Added :</th>
          <th style="width: 20%">Action :</th>
        </tr>
        <tr *ngFor="let item of Relays ; index as i;">
          <td>{{i}}.</td>
          <td>{{item.Name}}</td>
          <td>
            {{item.Description}}
          </td>
          <td>{{item.data[item.data.length]}}</td>
          <td>{{item.RelayCoordinates}}</td>
          <td>{{item.createdate | date: 'dd/MM/yyyy'}}</td>
          <td><a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left">Start</a>&nbsp;&nbsp;&nbsp;<a href="javascript:void(0)" class="btn btn-sm btn-danger btn-flat ">Stop</a></td>
        </tr>

        </tbody></table>

        Irrigation is Now Manual Mode :<a class="btn btn-block btn-social btn-bitbucket" style="width: 10%" [routerLink]="['RelayConfig']" (click)="PassRelayData()"><i class="fa fa-cogs"></i> Configure</a>

      <!---<button type="button" class="btn btn-block btn-success btn-lg" (click)="SendMessage('hello')">Pompe 1</button>--->
    </div>
  </div>
  </section>

<!-- /.content -->
