<header class="main-header">
  <!-- Logo -->
  <a class="logo" href="#">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>S</b>I</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Smart</b> Irrigation</span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a class="sidebar-toggle" data-toggle="push-menu" href="#" role="button">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>

    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- Messages: style can be found in dropdown.less-->

        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <img alt="User Image" class="user-image" src="assets/dist/img/user2-160x160.jpg">
            <span class="hidden-xs">{{ CurrentUser.FirstName }} {{ CurrentUser.LastName }}</span>
          </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
              <img alt="User Image" class="img-circle" src="assets/dist/img/user2-160x160.jpg">

              <p>
                {{ CurrentUser.FirstName }} {{ CurrentUser.LastName }} - Owner
                <small>Member since {{ CurrentUser.createdate | date:'dd MMM yyyy' }}</small>
              </p>
            </li>
            <!-- Menu Body -->
            <li class="user-body">
              <div class="row">
                <div class="col-xs-4 text-center">

                </div>
                <div class="col-xs-4 text-center">

                </div>
                <div class="col-xs-4 text-center">

                </div>
              </div>
              <!-- /.row -->
            </li>
            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-left">

              </div>
              <div class="pull-left">
                <button class="btn btn-default btn-flat" [routerLink]="['Profile']">Profile</button>
              </div>
              <div class="pull-right">
                <button class="btn btn-default btn-flat" (click)="onLogout()">Sign out</button>
              </div>
            </li>
          </ul>
        </li>
        <!-- Control Sidebar Toggle Button -->
        <li>
          <a data-toggle="control-sidebar" href="#"><i class="fa fa-gears"></i></a>
        </li>
      </ul>
    </div>
  </nav>
</header>
